@charset "utf-8";
/* CSS Document */

body{
background:#888;
}

.sc-menu{

width:100px;
}
li{
list-style:none;
padding:0px 0px 10px 0px;
background:#222;
text-align:center;
color:#ddd;
}
li:hover{
color:#222;
background:#ddd;
cursor:pointer;
}